#educHero {
    background-image: url('../../images/educHero.jpg');
    /* Adjust other background properties as needed */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    /* Add more styles as needed */
    height: 700px;
  }

  .educHero {
    position: relative; /* Required for absolute positioning */
    height: 100vh; /* Ensures the section takes the full height of the viewport */
  }
  
  .educContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px; /* Optional: Add padding for better readability */
  }