.card{
  width: 390px;
  height: 670px;
  /* height: auto; */
  /* border: 3px solid white; */
}
.cardBody {
  background: radial-gradient(circle, rgba(0, 99, 197, 0.3) 0%, rgba(0,47,95,0.3) 100%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  /* -webkit-backdrop-filter: blur(5px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color:white !important;
}
.card-body{
  /* width: 100%; */
  /* border:  1px solid white; */
  height: auto;
  /* overflow-x: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-top{
  height: auto;
  width: 100%;
}
.card-title{
  height: 50px;
  font-weight: bolder;
  font-size: x-large;
  width: 100%;
  /* border:  1px solid white; */
}
.pricebuy{
  /* border: 1px solid white; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: auto;
}
.pricze{
  font-size: 32px;
  height: auto;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.495);
  /* border: 1px solid rgb(189, 214, 23); */
}
.buyProduct{
  width: 100px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
}
.buyProduct:hover{
  border: 1px solid white;
  background-color: transparent;
  color: white;

}