@import "/src/constants/global-styles.css";

body {
  background-image: url(../../images/background.png);
  background-size: cover;
  color: white;
}

.header {
  font-size: 3.5em !important;
}

.subheading {
  font-size: 3em !important;
}

.container-spacing {
  margin-top: 200px;
}

.section-spacing {
  margin-top: 200px;
}

.section-spacing:nth-child(2) {
  margin-top: 300px;
}

.subtitle {
  text-align: justify;
}

.card-style {
  background: var(--cardBG);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: var(--cardBorder) !important;
  color: white !important;
  overflow: hidden;
  height: 320px ;
  margin-bottom: 50px;
}

.title-opacity {
  opacity: 0.8;
}

.line-spacing {
  margin-top: -15px;
}

.community-section {
  min-height: 600px;
}

.community-card {
  width: 400px;
  background: var(--cardBG);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: var(--cardBorder);
  color: white;
  overflow: hidden;
  height: 250px !important;
  margin-bottom: 50px;
}
